<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>

	<title>Feedback</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

	<style>
		.mb-3 {
			margin-bottom: 1.5rem;
		}
		
		.mb-1 {
			margin-bottom: .5rem;
		}
		
		.orange {
			color: #ff822e;
		}
		
		.blue {
			color: #002e5d;
		}
		
		.mr-5 {
			margin-right: 5px;
		}
	</style>
</head>

<body>

	<div class="mb-3">
		<p id="name">Dear Admin,</p>
	</div>
	
	<div class="mb-1">
		<span>New feedback received. Check details <a href="https://admin.gogobus.com/feedbacks">here.</a></span>
	</div>
	
	<div class="mb-1">
		<p th:text="${'On '+ date + ' '+ cust_name + '<'+ email +'> wrote:'}"></p>
	</div>
	<div>
		<p th:text="${feedback}"></p>
	</div>

</body>
</html>