<configuration>

    <appender name="SYSLOG-UDP" class="com.papertrailapp.logback.Syslog4jAppender">

        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>sf-user-staging %thread: %highlight(%-5level) %cyan(%logger{20}):%L - %yellow(%msg%n)</pattern>
        </layout>

        <syslogConfig class="org.productivity.java.syslog4j.impl.net.udp.UDPNetSyslogConfig">
            <!-- remote system to log to -->
            <host>logs4.papertrailapp.com</host>
            <!-- remote port to log to -->
            <port>26190</port>
        </syslogConfig>
    </appender>

    <root level="INFO">
        <appender-ref ref="SYSLOG-UDP"/>
    </root>

</configuration>
